.movie-grid-item {
  border-style: solid;
  width: 250px;
  float: left;
  margin: 2px;
}
div.movie-list-item {
  position: relative;
  border-style: solid;
  border-width: thin;
}
div.movie-list-item > div {
  display:inline-block;
  vertical-align:top;
  height:145px;
  /*border-style: dashed;*/
  padding-top: 20px;
  border-width: thin;
}
div.movie-list-item > div.poster {
  width:95px;
}
/*div.movie-list-item > div.info {
  padding-right:20px;
}*/
img.poster {
  width:150px;
  margin: 5px;
}
img.poster.small {
  width:92px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 50px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    background-color: #111; /* Black*/
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav:hover {
  width: 200px;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 52px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.nav-sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  background-color: #f1f1f1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  transition: 0.5s;
}
.nav-sidebar:hover {
  width: 45%;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
div.content {
  margin-left:50px;
  /*padding:1px 16px;*/
  /*height:1000px;*/
}
.search-box {
  border-radius:10px;
  border-width:thin;
  border-color:black;
  padding-left:10px;
}
.add-movie-container {
  border-style:solid;
  margin-top:5px;
  border-width:thin;
}
